################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IMS_Api/FileContentIndex/887a119c-eeff-4157-885b-f97a4d231202.vsidx
